---
 const personalImageAlt = "Ismael Jara"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Ismael, he terminado mis estudios como desarrollador full-stack, acutalmente<strong
        > me encuentro desarrollando proyectos que me permiten seguir progresando como Programador web y Constructor</strong
      >.
    </p>

    <p>
      Algunos de mis proyectos incluyen <strong
        >una aplicación para el cálculo de transmitancia térmica</strong
      >, principalmente para casas-habitaciones.
    </p>

    <p>
      Como profesional, <strong
        >cuento con el título de <em class="italic">Constructor Civil</em>, no obstante, </strong
      >Mi objetivo es ser un Programador avanzado.
    </p>
  </div>

  <img width="200" height="200" src="/fotoperfil.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

